<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student list</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">School Protocol</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">

    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/index}">Home</a>
            <a class="nav-item nav-link active" th:href="@{/api/dashboard}">Dashboard<span
                    class="sr-only">(current)</span></a>

            <a sec:authorize="hasAuthority('TEACHER')"
               th:href="@{/api/teacher/courses}"><h1>Courses</h1></a>

            <a class="nav-item nav-link" sec:authorize="hasAuthority('STUDENT')"
               th:href="@{/api/student/courses}">Courses</a>
            <a class="nav-item nav-link" href="#">Stats</a>
        </div>
    </div>
    <div>
        <a class="nav-link btn navbar-btn btn-danger navbar-right" role="button" th:href="@{/logout}">Logout</a>
    </div>
</nav>


<div class="container-fluid" style="margin-top: 25px">
    <div class="d-flex flex-row">
        <div class="card" style="width: 25rem; height: 25rem">
            <img alt="Card image cap" class="card-img-top" th:src="'https://via.placeholder.com/350x150'">
            <div class="card-body">
                <h5 class="card-title">Profile</h5>
                <p class="card-text" th:text="${'Name: ' + student.fullName}">Username</p>
                <p class="card-text" th:text="${'Email: ' + student.email}">Username</p>
                <p class="card-text" th:text="${'Password: ******************'}">Username</p>
                <p class="card-text"><small class="text-muted" th:text="${student.role}">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card-deck" style="margin-left: 25px">
            <div th:each="subject : ${subjects}">
                <div class="card" style="width: 25rem; height: 50rem">
                    <div class="card-body">
                        <h5 class="card-title">Course</h5>
                        <p class="card-text" th:text="${subject.name}">Subject name</p>
                        <p class="card-text" th:text="${'Total lessons : ' + lessonsCount}">Total lessons</p>
                        <p class="card-text" th:text="${'Lessons attended : ' + attendanceCount}">Total lessons</p>
                        <p class="card-text" th:text="${'Students in class :' + subject.students.size()}">Username</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>