<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School Protocol</title>
</head>
<body>
<div>
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
    <!--
    <h1>Your IP Address: <span th:text="${clientIp}"></span></h1>
    <h1>Your MAC Address: <span th:text="${clientMAC}"></span></h1> -->
</div>

<!-- ONLY visible for STUDENT / TEACHERS depending on their role -->
<div sec:authorize="hasAuthority('TEACHER')">

    <!--DUMMY-data ID todo change-->
    <a th:href="@{api/teacher/dashboard(id=${user.id})}"><h1>SUBJECT</h1></a>

</div>

<div sec:authorize="hasAuthority('STUDENT')">
    <a th:href="@{api/student/dashboard(id=${user.id})}"><h1>SUBJECT</h1></a>
</div>

</body>
</html>


</body>
</html>