<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>School Protocol</title>
</head>
<body>

<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>

<html>
<head>
    <title>Client IP</title>
</head>
<body>
<h1>Your IP Address: <span th:text="${clientIp}"></span></h1>
<h1>Your MAC Address: <span th:text="${clientMAC}"></span></h1>
</body>
</html>


</body>
</html>