<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div sec:authorize="hasAuthority('STUDENT')">
  <h3>Courses you take</h3>

  <table>
    <tr>
      <th>ID</th>
      <th>name</th>
    </tr>
    <tr th:each="subject : ${subjects}">
      <td><a th:text="${subject.id}">data.ID</a>
      <a th:href="@{../subject/details(studentId=${student.id},subjectId=${subject.id})}" th:text="${subject.name}"></a>
      </td>

    </tr>
  </table>

</div>



</body>
</html>