<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Course name</h1>


<table>
    <tr>
        <th>ID</th>
        <th>lesson</th>
    </tr>
    <tr>
        <div th:each="lesson : ${lessons}">
            <td>
                <div>
                    <div>
                        <a th:text="${lesson.id}">data.ID</a>
                        <a th:text="${lesson.subject}">data.ID</a>
                        <a class="date" th:text="${lesson.date}">data.ID</a>
                    </div>

                </div>

            </td>
        </div>
        <button>button</button>
    </tr>
</table>
<div th:if="${checkIn}">
    <form method="post" th:action="@{/api/student/lessons}">
        <input th:min="10" th:name="lesson_code" th:type="text">
        <input th:name="lesson_id" th:value="${lessonId}" th:type="hidden">
        <input th:value="${student.id}" th:type="hidden" th:name="student_id">
        <input th:name="submit-btn" th:type="submit">

    </form>

</div>


</body>
<script>
    const input = document.getElementsByClassName('date');
    console.log(input)

</script>


</html>