<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student list</title>
</head>
<body>

<div>
  <h3>Subjects you Teach</h3>
  <a href="/teachers/dashboard"><h1>SUBJECT</h1></a>

  <table>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>email</th>
    </tr>

        <tr th:each="student : ${students}">
          <td><a th:text="${student.id}">data.ID</a></td>
          <td th:text="${student.fullName}"> DATA</td>
          <td th:text="${student.email}"> DATA</td>
        </tr>

  </table>

</div>



</body>
</html>