<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Subject details</title>
</head>
<body>

<div sec:authorize="hasAuthority('TEACHER')">
  <h3>Subjects you Teach</h3>
  <a th:href="@{./dashboard(id=${user.id})}"><h1>SUBJECT</h1></a>

  <table>
    <tr>
      <th>ID</th>
      <th>date</th>
      <th>code</th>
    </tr>
    <tr th:each="lesson : ${lesson}">
      <td><a th:text="${lesson.id}">data.ID</a></td>
      <td th:text="${lesson.code}"> DATA</td>
    </tr>
  </table>
  <form method="POST" modelAttribute="addNewLessons">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>



</body>
</html>