<!DOCTYPE html>
<html lang="en" xmlns:h6th="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">School Protocol</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">

    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/index}">Home</a>
            <a class="nav-item nav-link " th:href="@{/api/dashboard}">Dashboard</a>
            <a class="nav-item nav-link active" th:href="@{/api/student/courses}">Courses<span
                    class="sr-only">(current)</span></a>

        </div>
    </div>
    <div>
        <a class="nav-link btn navbar-btn btn-danger navbar-right" role="button" th:href="@{/logout}">Logout</a>
    </div>
</nav>

<section>
    <h1 class="display-4 text-center" th:text="${subject.name}"></h1>
</section>
<div class="d-flex flex-row" style="margin-left: 35px; margin-top: 35px; align-content: space-between">
    <div style="width: 50%">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>lesson</th>
                <th>date</th>
                <th>Check-In</th>
            </tr>
            </thead>
            <tbody>

            <div th:each="lesson : ${lessons}">
                <tr>
                    <td>
                        <a th:text="${lesson.id}">LESSON.ID</a>
                    </td>
                    <td>
                        <a th:text="${lesson.subject.name}">SUBJECT-NAME.ID</a>
                    </td>
                    <td>
                        <a class="date" th:text="${lesson.date}">LESSON-DATE.ID</a>
                    </td>
                    <div th:each="attendance :${attendances}">
                        <td th:if="${lesson.id} == ${attendance.lesson.id}">
                            <img th:src="@{/img/checkIn.png}" width="30px" height="30px"/>
                        </td>

                    </div>
                </tr>
            </div>
            </tbody>
        </table>

    </div>
    <div style="width: 50%; margin-left: 20px">
        <div class="d-flex flex-row">
            <div>
                <p id="total-lessons" class="card-text" th:text="${'Total lessons:' + lessonsSubject}"></p>
                <p id="attended-lessons" class="card-text"
                   th:text="${'Total lessons attended :' + attendeesSubject}"></p>
                <p id="missed-lessons" class="card-text" th:text="${'Lessons Absent :' + missedLessons}"></p>
            </div>
            <div class="container" th:if="${checkIn}">
                <div class="container card" style="width: 20rem;">
                    <h6 class="card-title">Lesson Check-In Available</h6>
                    <form class="form-inline" method="post" th:action="@{/api/student/lessons}">
                        <div>
                            <input class="form-control" th:min="10" th:name="lesson_code" th:type="text"
                                   placeholder="Enter Code">
                            <input class="btn btn-warning mb-2" th:name="submit-btn" th:type="submit" type="submit"/>
                        </div>
                        <input th:name="lesson_id" th:type="hidden" th:value="${lessonId}" type="hidden"/>
                        <input th:name="student_id" th:type="hidden" th:value="${student.id}" type="hidden"/>
                    </form>

                </div>
            </div>

        </div>

        <div class="container" style="width: 70%; height: 70%">
            <canvas id="myCanvas"></canvas>
        </div>

    </div>
</div>


</body>
<script th:inline="javascript">
    /*<![CDATA[*/

    let missed = /*[[${missedLessons}]]*/ 'default';
    let attended = /*[[${attendeesSubject}]]*/ 'default';
    let allLessons = /*[[${lessonsSubject}]]*/ 'default';


    const data = {
        labels: [
            'Attended',
            'Missed',
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [attended, missed],
            backgroundColor: [
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
    };

    const config = {
        type: 'pie',
        data,
        options: {}
    };

    let myChart = new Chart(
        document.getElementById('myCanvas'),
        config
    );

</script>


</html>