<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">School Protocol</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/index}">Home</a>
            <a class="nav-item nav-link" th:href="@{/api/dashboard}" href="#">Dashboard</a> <!-- todo change dual dahsboard -->

            <a sec:authorize="hasAuthority('TEACHER')"
               th:href="@{/api/teacher/dashboard}"><h1>SUBJECT</h1></a> <!--todo make dual dashboard -->

            <a class="nav-item nav-link active" sec:authorize="hasAuthority('STUDENT')"
               th:href="@{/api/student/courses}">Courses<span class="sr-only">(current)</span></a> <!--todo change mapping for dashboard so doesnt repeat -->
            <a class="nav-item nav-link" href="#">Stats</a>
        </div>

    </div>
    <div>
        <a class="nav-link btn navbar-btn btn-danger navbar-right" role="button" th:href="@{/logout}">Logout</a>
    </div>
</nav>

<div class="mx-auto" sec:authorize="hasAuthority('STUDENT')">
    <h3 class="text-center" style="margin-top: 25px">Courses you take</h3>
    <div class="row mx-auto container" style="margin-top: 25px">
        <div class="card-deck" th:each="sub : ${subjects}">
            <div class="col-sm-6">
                <div class="card bg-light" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${sub.name}">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a th:href="@{../subject/details(studentId=${student.id},subjectId=${sub.id})}"
                           th:text="${sub.name}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>